*{
    background-color: rgb(35, 33, 40);
    color:#f2f2f2;
}


input[type="text"]{
    width: 100%;
 
}

.titulo {
    text-align: center;
    
}

.button_form{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #a47580;
    border: 2px solid #674950;
    border-radius: 5px;
}

.button_form:hover{
    background-color: #674950;
}
.formuuu{
text-align: center;
justify-content: center;
}