



.button_form{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #a47580;
    border: 2px solid #674950;
    border-radius: 5px;
}

.button_form:hover{
    background-color: #674950;
}



