* {
    font-size: 12px;
}

body{
    margin: 0%;

}

header{
    background-color: #232128;
    text-align: center;
    margin: 0;
    position: fixed;
    width: 100%;
}

/* Estilos generales */
.CRUD {
    font-family: Arial, sans-serif;
}


.container {
    width: 100vw;
    max-width: 80vw;
    max-height: 63vh;
    background-color: #fff;
    overflow-y: auto;
}

.contenedor {
    width: 100vw;
    max-width: 82vw;
    margin: 0 auto;
    padding: 20px;
}

.LOGIN {
    font-family: Arial, sans-serif;
    background-color: rgb(35, 33, 40);
}

h1 {
    text-align: center;
    margin-top: 3em;
    color: white;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contenedor-btn-login {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    background-color: grey;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}

.contenedor-btn-login h2 {
    margin: 0 0 10px 0;
    font-size: 14px;
    color: white;
}

.contenedor-btn-login a {
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    border: 2px solid #694b52;
    transition: background-color 0.3s, color 0.3s;
}

.contenedor-btn-login a:hover {
    background-color: #a47580;
    border-color: #a47580;
}

.contenedor-img-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container table th,
.container table td {
    text-align: center;
    align-items: center;
}

.container table th form,
.container table td form {
    display: flex;
    justify-content: center;
}

.container table th form input[type="submit"],
.container table td form input[type="submit"],
.container table th form select,
.container table td form select {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

.separacambioprofe {
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 36%;
}

.separacambioprofe>a {
    width: 20%;
    margin-left: 37%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid #f2f2f2;
    overflow-y: auto;
}

.active {
    background-color: #f5f5f5
}

thead {
    position: sticky;
    top: -1;
    z-index: 9999; /* Asegura que la imagen esté encima de otros elementos */
}

th,
td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    border: 1px solid #f2f2f2;
}

input[name="1"]{
    background-color: red;
}

tr:hover {
    background-color: #f5f5f5;
}

th {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
}

.create-button {
    text-align: right;
    margin-bottom: 20px;
}

.button_c {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: green;
    border: 2px solid green;
    border-radius: 5px;
    margin-left: 5px;
}

.button_c:hover {
    background-color: green;
    color: white;
}

.button_e {
    padding: 6px;
    color: black;
    border-radius: 5px;
}

.button_b {
    padding: 6px;
    margin-left: 5px;
    color: red;
    border-radius: 5px;
}

form {
    margin-top: 50px;
    text-align: center;
}

form label {
    color: white;
    font-size: 14px;
}

form input {
    color: black;
}

form input[type="text"],
form input[type="tel"],
form input[type="password"],
form input[type="email"],
form input[type="number"],
.selectform {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    background-color: #dedede;
}

form input[type="submit"] {
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    border: 2px solid #694b52;
    background-color: rgb(164, 104, 104);
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #a47580;
    border-color: #a47580;
}

.selectform {
    width: 100%;
    max-width: 320px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid black;
}

.image-container {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.image {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s;
}

.image-hover {
    opacity: 0;
}

.image-container:hover .image-hover {
    opacity: 1;
}

.image-container:hover .image-default {
    opacity: 0;
}

